################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Station/v16/Server/sqlite3
/.vs/Station
/Station.Common/obj
/Station.WebApi/obj
/Station.Common/bin/Debug/netcoreapp3.1
/Station.WebApi/bin/Debug/netcoreapp3.1
/Station.Entity/bin/Debug/netcoreapp3.1
/Station.Entity/obj
/Station.Repository/obj
/Station.Repository/bin/Debug/netcoreapp3.1
/Station.Aop/obj
/Station.Aop/bin/Debug/netcoreapp3.1
/Station.Models/obj
/Station.Models/bin/Debug/netcoreapp3.1
/Station.Helper/bin/Debug/netcoreapp3.1
/Station.Helper/obj
/Station.WcfAdapter/obj
/Station.WcfAdapter/bin/Debug/netcoreapp3.1
